asgiref==3.6.0
backports.zoneinfo;python_version<"3.9"
click==8.1.3
colorama==0.4.6
cssbeautifier==1.14.7
Django==4.1.7
djlint==1.19.16
EditorConfig==0.12.3
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.14.7
pathspec==0.11.1
Pillow==9.4.0
pytils==0.4.1
PyYAML==6.0
regex==2022.10.31
ruff==0.0.259
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
tqdm==4.65.0
tzdata==2022.7
