{% extends 'base.html' %}
{% block content %}
    <section>
        <main class="mt-5 mb-5">
            <div class="container">
                <div class="main-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card p-3 card-soft-primary">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="profile-image-wrapper mt-5">
                                            <div class="profile-image">
                                                <img src="{{ profile.image.url }}" alt="profile" />
                                            </div>
                                        </div>
                                        <div class="mt-1">
                                            <h5 class="fw-bold fs-2 text-200 mb-5 text-center">{{ profile.name }}</h5>
                                            <div class="text-center">
                                                <div class="col-12 d-grid">
                                                    {% if request.user.profile.id != profile.id %}
                                                        <form action="{% url 'follow-unfollow' profile.username %}" method="POST">
                                                            {% csrf_token %}
                                                            {% if profile in user.profile.follows.all %}
                                                                <button class="btn btn-danger rounded-pill my-2 col-12"
                                                                        name="follow"
                                                                        value="unfollow"
                                                                        type="submit">
                                                                    Удалить из друзей
                                                                </button>
                                                            {% else %}
                                                                <button class="btn btn-warning rounded-pill my-2 col-12"
                                                                        name="follow"
                                                                        value="follow"
                                                                        type="submit">
                                                                    Добавить в друзья
                                                                </button>
                                                            {% endif %}
                                                        </form>
                                                        <a class="btn btn-primary rounded-pill my-2"
                                                           href="{% url 'create-message' profile.username %}">Написать сообщение</a>
                                                        <a class="btn btn-primary rounded-pill my-2"
                                                           href="{% url 'user-profile' profile.username %}">Профиль</a>
                                                    {% else %}
                                                        <div class="col-12 d-grid">
                                                            <a class="btn btn-primary rounded-pill my-2"
                                                               href="{% url 'blog:create-post' %}">Новая запись</a>
                                                        </div>
                                                    {% endif %}
                                                    {% include 'tags_categories.html' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                    <div class="text-center">{% include 'socials.html' %}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card p-3 h-100 card-soft-primary">
                                <div class="profile-card-body">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h6 class="fw-bold fs-1 text-200 my-3">Блог пользователя {{ profile.username }}</h6>
                                        </div>
                                    </div>
                                    <div>
                                        {% for post in posts %}
                                            <div class="message-card mb-3">
                                                <div class="card-header fs--1 fw-bold">
                                                    <div class="d-flex justify-content-between">
                                                        <a class="text-decoration-none mt-2" href=""><span class="text-start">{{ post.category }}</span></a>
                                                        {% if request.user.profile.id == profile.id %}
                                                            <span class="text-end icon-group"><a class="icon-item" href="{% url 'blog:update-post' post.id %}"><i class="uil uil-edit fs--1"></i></a><a class="icon-item" href="{% url 'blog:delete-post' post.id %}"><i class="uil uil-times-circle fs--1"></i></a></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="card-body px-4 py-4">
                                                    <h5 class="card-title text-400">{{ post.title }}</h5>
                                                    <p class="card-text text-400">{{ post.text|safe|truncatewords:"50" }}</p>
                                                    <div class="text-end">
                                                        <a class="btn btn-primary rounded-pill btn-md my-2"
                                                           href="{% url 'blog:post' post.slug %}">Читать</a>
                                                    </div>
                                                </div>
                                                {% include 'blog/post_footer.html' %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="my-4">{% include 'pagination.html' with queryset=posts custom_range=custom_range %}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
{% endblock content %}
