<ul class="list-unstyled list-inline my-2">
    <li class="list-inline-item">
        <a class="text-decoration-none" href="{{ profile.github }}"><i class="fab fa-github-square fa-2x social-icons"></i></a>
    </li>
    <li class="list-inline-item">
        <a class="text-decoration-none" href="{{ profile.twitter }}"><i class="fab fa-twitter-square fa-2x social-icons"></i></a>
    </li>
    <li class="list-inline-item">
        <a class="text-decoration-none" href="{{ profile.linkedin }}"><i class="fab fa-linkedin fa-2x social-icons"> </i></a>
    </li>
    <li class="list-inline-item">
        <a class="text-decoration-none" href="{{ profile.youtube }}"><i class="fab fa-youtube-square fa-2x social-icons"></i></a>
    </li>
    <li class="list-inline-item">
        <a class="text-decoration-none" href="{{ profile.website }}"><i class="fa fa-globe fa-2x social-icons"></i></a>
    </li>
    <li class="list-inline-item">
        <a class="text-decoration-none" href="{{ profile.email }}"><i class="fa fa-envelope-square fa-2x social-icons"></i></a>
    </li>
</ul>
